body {
    background-color:#8996b3;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    color: #274c79
}


#navBar {
    background-color: #7a6688;
    text-align: center;
}

#navBar a {
    text-decoration: none;
    color: #274c79;
}

#navBar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

#navBar li:hover {
    background-color: #675475;
}

h1 {
    text-align: center;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-56 {
    align-items: center;
    background-color: #7a6688;
    border: 2px solid #274c79;
    border-radius: 8px;
    box-sizing: border-box;
    color: #274c79;
    cursor: pointer;
    display: flex;
    font-family: Georgia, serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .button-56:after {
    background-color: #274c79;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
    }

    .button-56:hover:after {
    transform: translate(0, 0);
    }

    .button-56:active {
    background-color: #7a6688;
    outline: 0;
    }

    .button-56:hover {
    outline: 0;
    }

    @media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}






